@page
@model Animals.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Opret Animal</h2>
<form method="post">
    <button type="submit">Gem</button>
</form>
<a href="/Animals">Tilbage</a>
