@page
@model Employees.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Opret Employee</h2>
<form method="post">
    <button type="submit">Gem</button>
</form>
<a href="/Employees">Tilbage</a>
