@page
@model IndexModel
<h1>Velkommen til Dyreinternatet</h1>
<ul>
    <li><a href="/Activities">Aktiviteter</a></li>
    <li><a href="/Animals">Dyr</a></li>
    <li><a href="/Customers">Kunder</a></li>
    <li><a href="/Bookings">Bookinger</a></li>
    <li><a href="/Blogs">Blogindlæg</a></li>
    <li><a href="/DoctorVisits">Dyrlægebesøg</a></li>
    <li><a href="/Employees">Medarbejdere</a></li>
</ul>
