@page
@model DoctorVisits.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Opret DoctorVisit</h2>
<form method="post">
    <button type="submit">Gem</button>
</form>
<a href="/DoctorVisits">Tilbage</a>
