@page
@model DoctorVisits.IndexModel
@using Dyreinternat_Library.Models
<h2>DoctorVisits</h2>
<table>
<thead>
    <tr><th>ID</th><th>Info</th></tr>
</thead>
<tbody>
@foreach (var item in Model.Items)
{
    <tr><td>@item.GetHashCode()</td><td>@item.ToString()</td></tr>
}
</tbody>
</table>
<a href="/DoctorVisits/Create">Opret ny</a>
