@page
@model Customers.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Opret Customer</h2>
<form method="post">
    <button type="submit">Gem</button>
</form>
<a href="/Customers">Tilbage</a>
